# Node, Build & artifacts
node_modules/
*.d.ts
# .npmrc
yarn.lock
build
dist

# Commented-out for `workflows npm ci`
# package-lock.json

# dotenv environment variables file
.env

# IDE
.idea/
.vscode

# Test
!jest.config.js

# System artifacts
.DS_Store

# Logs
logs/
*.log

# Runtime data
run/
*.pid

# Output of 'npm pack'
*.tgz

# CDK
.cdk.staging
cdk.out

# Custom scratch
notes.txt
notes.md

